@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f5f9;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}